DebitorSystem/wsdl/ModtagDebitorregistreringStraksleveranceDSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:oir="http://serviceplatformen.dk/xml/wsdl/soap11/OIR/OIR/1/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" name="DistributionService" targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/OIR/OIR/1/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://serviceplatformen.dk/xml/wsdl/soap11/OIR/OIR/1/">
			<xsd:include schemaLocation="../view/DebitorregistreringReq.xsd"/>
			<xsd:include schemaLocation="../view/HentDebitorkonto_O.xsd"/>
			<xsd:include schemaLocation="../view/SogDelfordringTilIndbetaling_O.xsd"/>
			<xsd:include schemaLocation="../view/SogDebitorRegistrering_O.xsd"/>
			<xsd:include schemaLocation="../view/Forretningskvittering.xsd"/>
			<xsd:include schemaLocation="../view/StraksleveranceTransportkvittering.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Opret">
		<wsdl:part name="parameters" element="oir:OpretReq"/>
	</wsdl:message>
	<wsdl:message name="AfslutAlternativAdressering">
		<wsdl:part name="parameters" element="oir:AfslutAlternativAdresseringReq"/>
	</wsdl:message>
	<wsdl:message name="AfslutHaeftelse">
		<wsdl:part name="parameters" element="oir:AfslutHaeftelseReq"/>
	</wsdl:message>
	<wsdl:message name="ForetagIndbetaling">
		<wsdl:part name="parameters" element="oir:ForetagIndbetalingReq"/>
	</wsdl:message>
	<wsdl:message name="AfslutMaterialeModtager">
		<wsdl:part name="parameters" element="oir:AfslutMaterialemodtagerReq"/>
	</wsdl:message>
	<wsdl:message name="RetTilstand">
		<wsdl:part name="parameters" element="oir:RetTilstandReq"/>
	</wsdl:message>
	<wsdl:message name="HentDebitorkonto_I">
		<wsdl:part name="parameters" element="oir:HentDebitorkontoReq"/>
	</wsdl:message>
	<wsdl:message name="HentDebitorkonto_O">
		<wsdl:part name="parameters" element="oir:HentetDebitorkonto"/>
	</wsdl:message>
	<wsdl:message name="SogDelfordringTilIndbetaling_I">
		<wsdl:part name="parameters" element="oir:SogDelfordringTilIndbetalingReq"/>
	</wsdl:message>
	<wsdl:message name="SogDelfordringTilIndbetaling_O">
		<wsdl:part name="parameters" element="oir:SogIndbetalingResultat"/>
	</wsdl:message>
	<wsdl:message name="SogDebitorRegistrering_I">
		<wsdl:part name="parameters" element="oir:SogDebitorRegistreringReq"/>
	</wsdl:message>
	<wsdl:message name="SogDebitorRegistrering_O">
		<wsdl:part name="parameters" element="oir:SogDebitorRegistreringResultat"/>
	</wsdl:message>
	<wsdl:message name="Forretningskvittering">
		<wsdl:part name="parameters" element="oir:Forretningskvittering"/>
	</wsdl:message>
	<wsdl:message name="StraksleveranceTransportkvittering">
		<wsdl:part name="parameters" element="oir:StraksleveranceTransportkvittering"/>
	</wsdl:message>
	<wsdl:portType name="ModtagDebitorregistreringStraksleveranceServicePort">
		<wsdl:operation name="Opret">
			<wsdl:input message="oir:Opret"/>
			<wsdl:output message="oir:Forretningskvittering"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutAlternativAdressering">
			<wsdl:input message="oir:AfslutAlternativAdressering"/>
			<wsdl:output message="oir:Forretningskvittering"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutHaeftelse">
			<wsdl:input message="oir:AfslutHaeftelse"/>
			<wsdl:output message="oir:Forretningskvittering"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="ForetagIndbetaling">
			<wsdl:input message="oir:ForetagIndbetaling"/>
			<wsdl:output message="oir:Forretningskvittering"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutMaterialeModtager">
			<wsdl:input message="oir:AfslutMaterialeModtager"/>
			<wsdl:output message="oir:Forretningskvittering"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="RetTilstand">
			<wsdl:input message="oir:RetTilstand"/>
			<wsdl:output message="oir:Forretningskvittering"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="HentDebitorkonto">
			<wsdl:input message="oir:HentDebitorkonto_I"/>
			<wsdl:output message="oir:HentDebitorkonto_O"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="SogDelfordringTilIndbetaling">
			<wsdl:input message="oir:SogDelfordringTilIndbetaling_I"/>
			<wsdl:output message="oir:SogDelfordringTilIndbetaling_O"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="SogDebitorRegistrering">
			<wsdl:input message="oir:SogDebitorRegistrering_I"/>
			<wsdl:output message="oir:SogDebitorRegistrering_O"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ModtagDebitorregistreringStraksleveranceServiceBinding" type="oir:ModtagDebitorregistreringStraksleveranceServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Opret">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="../policies/policies.xml#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutAlternativAdressering">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="../policies/policies.xml#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutHaeftelse">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="../policies/policies.xml#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ForetagIndbetaling">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="../policies/policies.xml#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutMaterialeModtager">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="../policies/policies.xml#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetTilstand">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="../policies/policies.xml#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentDebitorkonto">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="../policies/policies.xml#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SogDelfordringTilIndbetaling">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="../policies/policies.xml#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SogDebitorRegistrering">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="../policies/policies.xml#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ModtagDebitorregistreringStraksleveranceService">
		<wsdl:port name="ModtagDebitorregistreringStraksleveranceServicePort" binding="oir:ModtagDebitorregistreringStraksleveranceServiceBinding">
			<soap:address location="http://localhost:8080/service/OiRDebitor/1"/>
			<wsp:PolicyReference URI="../policies/policies.xml#STS_SAML_Token_policy"/>
			<wsp:PolicyReference URI="../policies/policies.xml#TLS_policy"/>
		</wsdl:port>
	</wsdl:service>
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Version 1.0 of the API for the ModtagDebitorregistreringStraksleveranceService
    	</xsd:documentation>
	</xsd:annotation>
</wsdl:definitions>
