DebitorLeverandør/ModtagDebitorregistreringStraksleveranceServiceAuth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
		xmlns:oir="urn:oio:kl:kdi:oir:1590_B_V2" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:wsp="http://www.w3.org/ns/ws-policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"  
		xmlns:wsa="http://www.w3.org/2005/08/addressing"  
		xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
		targetNamespace="urn:oio:kl:kdi:oir:1590_B_V2"
		name="ModtagDebitorregistreringStraksleveranceServiceAuth"
		>
	<wsdl:types>
		<xsd:schema targetNamespace="urn:oio:kl:kdi:oir:1590_B_V2">
			<xsd:include schemaLocation="ModtagDebitorregistreringStraksleveranceMsg.xsd"/>
			<xsd:include schemaLocation="./view/HentDebitorkonto_O.xsd"/>
			<xsd:include schemaLocation="./view/SogDelfordringTilIndbetaling_O.xsd"/>
			<xsd:include schemaLocation="./view/SogDebitorRegistrering_O.xsd"/>
			<xsd:include schemaLocation="./view/DebitorStraksleveranceTransportkvittering.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OpretRequestMessage">
		<wsdl:part name="parameters" element="oir:OpretRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="OpretResponseMessage">
		<wsdl:part name="parameters" element="oir:OpretResponseType"/>
	</wsdl:message>
	
	<wsdl:message name="AfslutAlternativAdresseringRequestMessage">
		<wsdl:part name="parameters" element="oir:AfslutAlternativAdresseringRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="AfslutAlternativAdresseringResponseMessage">
		<wsdl:part name="parameters" element="oir:AfslutAlternativAdresseringResponseType"/>
	</wsdl:message>

	<wsdl:message name="AfslutHaeftelseRequestMessage">
		<wsdl:part name="parameters" element="oir:AfslutHaeftelseRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="AfslutHaeftelseResponseMessage">
		<wsdl:part name="parameters" element="oir:AfslutHaeftelseResponseType"/>
	</wsdl:message>

	<wsdl:message name="ForetagIndbetalingRequestMessage">
		<wsdl:part name="parameters" element="oir:ForetagIndbetalingRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="ForetagIndbetalingResponseMessage">
		<wsdl:part name="parameters" element="oir:ForetagIndbetalingResponseType"/>
	</wsdl:message>

	<wsdl:message name="AfslutMaterialeModtagerRequestMessage">
		<wsdl:part name="parameters" element="oir:AfslutMaterialemodtagerRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="AfslutMaterialeModtagerResponseMessage">
		<wsdl:part name="parameters" element="oir:AfslutMaterialemodtagerResponseType"/>
	</wsdl:message>

	<wsdl:message name="AfslutLigestillingspartnerRequestMessage">
		<wsdl:part name="parameters" element="oir:AfslutLigestillingspartnerRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="AfslutLigestillingspartnerResponseMessage">
		<wsdl:part name="parameters" element="oir:AfslutLigestillingspartnerResponseType"/>
	</wsdl:message>

	<wsdl:message name="RetTilstandRequestMessage">
		<wsdl:part name="parameters" element="oir:RetTilstandRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="RetTilstandResponseMessage">
		<wsdl:part name="parameters" element="oir:RetTilstandResponseType"/>
	</wsdl:message>


	<wsdl:message name="HentDebitorkontoRequestMessage">
		<wsdl:part name="parameters" element="oir:HentDebitorkontoRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="HentDebitorkontoResponseMessage">
		<wsdl:part name="parameters" element="oir:HentDebitorkontoResponseType"/>
	</wsdl:message>


	<wsdl:message name="SogDelfordringTilIndbetalingRequestMessage">
		<wsdl:part name="parameters" element="oir:SogDelfordringTilIndbetalingRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="SogDelfordringTilIndbetalingResponseMessage">
		<wsdl:part name="parameters" element="oir:SogDelfordringTilIndbetalingResponseType"/>
	</wsdl:message>


	<wsdl:message name="SogDebitorRegistreringRequestMessage">
		<wsdl:part name="parameters" element="oir:SogDebitorRegistreringRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="SogDebitorRegistreringResponseMessage">
		<wsdl:part name="parameters" element="oir:SogDebitorRegistreringResponseType"/>
	</wsdl:message>
	

	<wsdl:message name="StraksleveranceTransportkvittering">
		<wsdl:part name="parameters" element="oir:StraksleveranceTransportkvittering"/>
	</wsdl:message>

	<wsdl:portType name="ModtagDebitorregistreringStraksleveranceServiceAuthPort">
		<wsdl:operation name="Opret">
			<wsdl:input message="oir:OpretRequestMessage"/>
			<wsdl:output message="oir:OpretResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutAlternativAdressering">
			<wsdl:input message="oir:AfslutAlternativAdresseringRequestMessage"/>
			<wsdl:output message="oir:AfslutAlternativAdresseringResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutHaeftelse">
			<wsdl:input message="oir:AfslutHaeftelseRequestMessage"/>
			<wsdl:output message="oir:AfslutHaeftelseResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="ForetagIndbetaling">
			<wsdl:input message="oir:ForetagIndbetalingRequestMessage"/>
			<wsdl:output message="oir:ForetagIndbetalingResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutMaterialeModtager">
			<wsdl:input message="oir:AfslutMaterialeModtagerRequestMessage"/>
			<wsdl:output message="oir:AfslutMaterialeModtagerResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutLigestillingspartner">
			<wsdl:input message="oir:AfslutLigestillingspartnerRequestMessage"/>
			<wsdl:output message="oir:AfslutLigestillingspartnerResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="RetTilstand">
			<wsdl:input message="oir:RetTilstandRequestMessage"/>
			<wsdl:output message="oir:RetTilstandResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="HentDebitorkonto">
			<wsdl:input message="oir:HentDebitorkontoRequestMessage"/>
			<wsdl:output message="oir:HentDebitorkontoResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="SogDelfordringTilIndbetaling">
			<wsdl:input message="oir:SogDelfordringTilIndbetalingRequestMessage"/>
			<wsdl:output message="oir:SogDelfordringTilIndbetalingResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="SogDebitorRegistrering">
			<wsdl:input message="oir:SogDebitorRegistreringRequestMessage"/>
			<wsdl:output message="oir:SogDebitorRegistreringResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ModtagDebitorregistreringStraksleveranceServiceAuthBinding" type="oir:ModtagDebitorregistreringStraksleveranceServiceAuthPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Opret">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutAlternativAdressering">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutHaeftelse">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ForetagIndbetaling">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutMaterialeModtager">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
				<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutLigestillingspartner">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetTilstand">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentDebitorkonto">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SogDelfordringTilIndbetaling">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SogDebitorRegistrering">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<!-- input policy reference -->
					<wsp:PolicyReference URI="#Input_Policy"/>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsp:Policy wsu:Id="STS_SAML_Token_policy_optional">
		<sp:SignedSupportingTokens xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy wsp:Optional="true">
				<sp:IssuedToken sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
					<!-- Nedenstående Issuer address er pt. ikke rigtig idet STS endpoint ikke kendt-->
					<sp:Issuer>
						<wsa:Address>https://url-til-sts</wsa:Address>
					</sp:Issuer>
					<sp:RequestSecurityTokenTemplate>
						<trust:TokenType xmlns:trust="http://docs.oasis-open.org/ws-sx/ws-trust/200512">urn:oasis:names:tc:SAML:2.0:assertion</trust:TokenType>
					</sp:RequestSecurityTokenTemplate>
					<wsp:Policy>
						<sp:RequireInternalReference/>
					</wsp:Policy>
				</sp:IssuedToken>
				<sp:IncludeTimestamp/>
				<sp:ProtectTokens />
				<sp:OnlySignEntireHeadersAndBody/>
			</wsp:Policy>
		</sp:SignedSupportingTokens>
	</wsp:Policy>
	<!-- TLS policy for communicating with SP -->
	<wsp:Policy wsu:Id="TLS_policy">
		<sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
			<wsp:Policy>
				<sp:TransportToken>
					<wsp:Policy>
						<sp:HttpsToken RequireClientCertificate="true"/>
					</wsp:Policy>
				</sp:TransportToken>
				<sp:AlgorithmSuite>
					<wsp:Policy>
						<sp:Basic128/>
					</wsp:Policy>
				</sp:AlgorithmSuite>
			</wsp:Policy>
		</sp:TransportBinding>
	</wsp:Policy>

	
		<!-- Input policy for signing input -->
	<wsp:Policy wsu:Id="Input_Policy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Body/>
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="Framework" Namespace="urn:liberty:sb"/>
				</sp:SignedParts>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	
	<wsdl:service name="ModtagDebitorregistreringStraksleveranceServiceAuth">
		<wsdl:port name="ModtagDebitorregistreringStraksleveranceServiceAuthPort" binding="oir:ModtagDebitorregistreringStraksleveranceServiceAuthBinding">
			<soap:address location="http://localhost:8080/service/OiRDebitor/1"/>
		    <wsp:PolicyReference URI="#TLS_policy"/>
		</wsdl:port>
	</wsdl:service>
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Version 1.0 of the API for the ModtagDebitorregistreringStraksleveranceServiceAuth
    	</xsd:documentation>
	</xsd:annotation>
</wsdl:definitions>
