DebitorLeverandør/ModtagDebitorregistreringStraksleveranceServiceAuth.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions 
		xmlns:oir="urn:oio:kl:kdi:oir:1590_B_V3" 
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
		xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
		xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
		xmlns:wsp="http://www.w3.org/ns/ws-policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"  
		xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
		xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
		targetNamespace="urn:oio:kl:kdi:oir:1590_B_V3"
		name="ModtagDebitorregistreringStraksleveranceServiceAuth"
		>
	<wsdl:types>
		<xsd:schema targetNamespace="urn:oio:kl:kdi:oir:1590_B_V3">
			<xsd:include schemaLocation="ModtagDebitorregistreringStraksleveranceMsg.xsd"/>
			<xsd:include schemaLocation="./view/HentDebitorkonto_O.xsd"/>
			<xsd:include schemaLocation="./view/SogDelfordringTilIndbetaling_O.xsd"/>
			<xsd:include schemaLocation="./view/SogDebitorRegistrering_O.xsd"/>
			<xsd:include schemaLocation="./view/DebitorStraksleveranceTransportkvittering.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="OpretRequestMessage">
		<wsdl:part name="request" element="oir:OpretRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="OpretResponseMessage">
		<wsdl:part name="response" element="oir:OpretResponseType"/>
	</wsdl:message>
	
	<wsdl:message name="AfslutAlternativAdresseringRequestMessage">
		<wsdl:part name="request" element="oir:AfslutAlternativAdresseringRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="AfslutAlternativAdresseringResponseMessage">
		<wsdl:part name="response" element="oir:AfslutAlternativAdresseringResponseType"/>
	</wsdl:message>

	<wsdl:message name="AfslutHaeftelseRequestMessage">
		<wsdl:part name="request" element="oir:AfslutHaeftelseRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="AfslutHaeftelseResponseMessage">
		<wsdl:part name="response" element="oir:AfslutHaeftelseResponseType"/>
	</wsdl:message>

	<wsdl:message name="ForetagIndbetalingRequestMessage">
		<wsdl:part name="request" element="oir:ForetagIndbetalingRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="ForetagIndbetalingResponseMessage">
		<wsdl:part name="response" element="oir:ForetagIndbetalingResponseType"/>
	</wsdl:message>

	<wsdl:message name="AfslutMaterialeModtagerRequestMessage">
		<wsdl:part name="request" element="oir:AfslutMaterialemodtagerRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="AfslutMaterialeModtagerResponseMessage">
		<wsdl:part name="response" element="oir:AfslutMaterialemodtagerResponseType"/>
	</wsdl:message>

	<wsdl:message name="AfslutLigestillingspartnerRequestMessage">
		<wsdl:part name="request" element="oir:AfslutLigestillingspartnerRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="AfslutLigestillingspartnerResponseMessage">
		<wsdl:part name="response" element="oir:AfslutLigestillingspartnerResponseType"/>
	</wsdl:message>

	<wsdl:message name="RetTilstandRequestMessage">
		<wsdl:part name="request" element="oir:RetTilstandRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="RetTilstandResponseMessage">
		<wsdl:part name="response" element="oir:RetTilstandResponseType"/>
	</wsdl:message>


	<wsdl:message name="HentDebitorkontoRequestMessage">
		<wsdl:part name="request" element="oir:HentDebitorkontoRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="HentDebitorkontoResponseMessage">
		<wsdl:part name="response" element="oir:HentDebitorkontoResponseType"/>
	</wsdl:message>


	<wsdl:message name="SogDelfordringTilIndbetalingRequestMessage">
		<wsdl:part name="request" element="oir:SogDelfordringTilIndbetalingRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="SogDelfordringTilIndbetalingResponseMessage">
		<wsdl:part name="response" element="oir:SogDelfordringTilIndbetalingResponseType"/>
	</wsdl:message>


	<wsdl:message name="SogDebitorRegistreringRequestMessage">
		<wsdl:part name="request" element="oir:SogDebitorRegistreringRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="SogDebitorRegistreringResponseMessage">
		<wsdl:part name="response" element="oir:SogDebitorRegistreringResponseType"/>
	</wsdl:message>
	
	<wsdl:message name="ForetagEjerskifteRequestMessage">
		<wsdl:part name="request" element="oir:ForetagEjerskifteRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="ForetagEjerskifteResponseMessage">
		<wsdl:part name="response" element="oir:ForetagEjerskifteResponseType"/>
	</wsdl:message>
	
	<wsdl:message name="HentBSTilmeldningsstatusRequestMessage">
		<wsdl:part name="request" element="oir:HentBSTilmeldningsstatusRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="HentBSTilmeldningsstatusResponseMessage">
		<wsdl:part name="response" element="oir:HentBSTilmeldningsstatusResponseType"/>
	</wsdl:message>
	
	<wsdl:message name="HentIndbetalingRequestMessage">
		<wsdl:part name="request" element="oir:HentIndbetalingRequestAuthType"/>
	</wsdl:message>
	<wsdl:message name="HentIndbetalingResponseMessage">
		<wsdl:part name="response" element="oir:HentIndbetalingResponseType"/>
	</wsdl:message>

	<wsdl:message name="StraksleveranceTransportkvittering">
		<wsdl:part name="fault" element="oir:StraksleveranceTransportkvittering"/>
	</wsdl:message>

	<wsdl:portType name="ModtagDebitorregistreringStraksleveranceServicePort">
		<wsdl:operation name="Opret">
			<wsdl:input message="oir:OpretRequestMessage"/>
			<wsdl:output message="oir:OpretResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutAlternativAdressering">
			<wsdl:input message="oir:AfslutAlternativAdresseringRequestMessage"/>
			<wsdl:output message="oir:AfslutAlternativAdresseringResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutHaeftelse">
			<wsdl:input message="oir:AfslutHaeftelseRequestMessage"/>
			<wsdl:output message="oir:AfslutHaeftelseResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="ForetagIndbetaling">
			<wsdl:input message="oir:ForetagIndbetalingRequestMessage"/>
			<wsdl:output message="oir:ForetagIndbetalingResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutMaterialeModtager">
			<wsdl:input message="oir:AfslutMaterialeModtagerRequestMessage"/>
			<wsdl:output message="oir:AfslutMaterialeModtagerResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="AfslutLigestillingspartner">
			<wsdl:input message="oir:AfslutLigestillingspartnerRequestMessage"/>
			<wsdl:output message="oir:AfslutLigestillingspartnerResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="RetTilstand">
			<wsdl:input message="oir:RetTilstandRequestMessage"/>
			<wsdl:output message="oir:RetTilstandResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="HentDebitorkonto">
			<wsdl:input message="oir:HentDebitorkontoRequestMessage"/>
			<wsdl:output message="oir:HentDebitorkontoResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="SogDelfordringTilIndbetaling">
			<wsdl:input message="oir:SogDelfordringTilIndbetalingRequestMessage"/>
			<wsdl:output message="oir:SogDelfordringTilIndbetalingResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="SogDebitorRegistrering">
			<wsdl:input message="oir:SogDebitorRegistreringRequestMessage"/>
			<wsdl:output message="oir:SogDebitorRegistreringResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="ForetagEjerskifte">
			<wsdl:input message="oir:ForetagEjerskifteRequestMessage"/>
			<wsdl:output message="oir:ForetagEjerskifteResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="HentBSTilmeldningsstatus">
			<wsdl:input message="oir:HentBSTilmeldningsstatusRequestMessage"/>
			<wsdl:output message="oir:HentBSTilmeldningsstatusResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
		<wsdl:operation name="HentIndbetaling">
			<wsdl:input message="oir:HentIndbetalingRequestMessage"/>
			<wsdl:output message="oir:HentIndbetalingResponseMessage"/>
			<wsdl:fault name="StraksleveranceTransportkvittering" message="oir:StraksleveranceTransportkvittering"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ModtagDebitorregistreringStraksleveranceServiceBinding" type="oir:ModtagDebitorregistreringStraksleveranceServicePort">
		<wsp:PolicyReference URI="#TransportbindingPolicy"/>
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
		<wsdl:operation name="Opret">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutAlternativAdressering">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutHaeftelse">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ForetagIndbetaling">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutMaterialeModtager">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="AfslutLigestillingspartner">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="RetTilstand">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentDebitorkonto">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SogDelfordringTilIndbetaling">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="SogDebitorRegistrering">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="ForetagEjerskifte">
			<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentBSTilmeldningsstatus">
				<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="HentIndbetaling">
				<soap:operation soapAction=""/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
			<wsdl:fault name="StraksleveranceTransportkvittering">
				<soap:fault name="StraksleveranceTransportkvittering" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="ModtagDebitorregistreringStraksleveranceService">
		<wsdl:port name="ModtagDebitorregistreringStraksleveranceServicePort" binding="oir:ModtagDebitorregistreringStraksleveranceServiceBinding">
			<soap:address location="http://localhost:8080/service/OiRDebitor/1"/>
		</wsdl:port>
	</wsdl:service>
	
	<wsp:Policy wsu:Id="TransportbindingPolicy">
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702">
            <wsp:Policy>
                <sp:TransportToken>
                    <wsp:Policy>
                        <sp:HttpsToken RequireClientCertificate="true"/>
                    </wsp:Policy>
                </sp:TransportToken>
                <sp:AlgorithmSuite>
                    <wsp:Policy>
                        <sp:Basic256/>
                    </wsp:Policy>
                </sp:AlgorithmSuite>
            </wsp:Policy>
        </sp:TransportBinding>
    </wsp:Policy>
	
	<xsd:annotation>
		<xsd:documentation xml:lang="en">
			Version 1.0 of the API for the ModtagDebitorregistreringStraksleveranceServiceAuth
    	</xsd:documentation>
	</xsd:annotation>
</wsdl:definitions>
