DebitorLeverandør/ModtagDebitorregistreringStraksleveranceMsg.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 rel. 3 (x64) (http://www.altova.com) by Eskild Nejsum (KOMBIT A/S) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:oir="urn:oio:kl:kdi:oir:1590_B_V3" xmlns:callctx="http://serviceplatformen.dk/xml/schemas/CallContext/1/" xmlns:autctx="http://serviceplatformen.dk/xml/schemas/AuthorityContext/1/" targetNamespace="urn:oio:kl:kdi:oir:1590_B_V3" elementFormDefault="qualified">
	<xs:annotation>
		<xs:documentation>Debitorrequests</xs:documentation>
	</xs:annotation>
	<xs:import namespace="http://serviceplatformen.dk/xml/schemas/CallContext/1/" schemaLocation="CallContext_1.xsd"/>
	<xs:import namespace="http://serviceplatformen.dk/xml/schemas/AuthorityContext/1/" schemaLocation="AuthorityContext_1.xsd"/>
	<xs:include schemaLocation="view/Opret.xsd"/>
	<xs:include schemaLocation="view/AfslutHaeftelse.xsd"/>
	<xs:include schemaLocation="view/AfslutAlternativAdressering.xsd"/>
	<xs:include schemaLocation="view/AfslutLigestillingspartner.xsd"/>
	<xs:include schemaLocation="view/AfslutMaterialemodtagelse.xsd"/>
	<xs:include schemaLocation="view/ForetagIndbetaling.xsd"/>
	<xs:include schemaLocation="view/RetTilstand.xsd"/>
	<xs:include schemaLocation="view/HentDebitorkonto_I.xsd"/>
	<xs:include schemaLocation="view/SogDelfordringTilIndbetaling_I.xsd"/>
	<xs:include schemaLocation="view/SogDebitorRegistrering_I.xsd"/>
	<xs:include schemaLocation="view/DebitorForretningskvittering.xsd"/>
	<xs:include schemaLocation="view/HentDebitorkonto_O.xsd"/>
	<xs:include schemaLocation="view/SogDelfordringTilIndbetaling_O.xsd"/>
	<xs:include schemaLocation="view/SogDebitorRegistrering_O.xsd"/>
	<xs:include schemaLocation="view/ForetagEjerskifte.xsd"/>
	<xs:include schemaLocation="view/HentBSTilmeldingsstatus_I.xsd"/>
	<xs:include schemaLocation="view/HentBSTilmeldingsstatus_O.xsd"/>
	<xs:include schemaLocation="view/HentIndbetaling_I.xsd"/>
	<xs:include schemaLocation="view/HentIndbetaling_O.xsd"/>
	<xs:element name="OpretRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:Opret"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OpretRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:Opret"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="OpretResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:DebitorForretningskvittering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutHaeftelseRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:AfslutHaeftelse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutHaeftelseRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:AfslutHaeftelse"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutHaeftelseResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:DebitorForretningskvittering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutAlternativAdresseringRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:AfslutAlternativAdressering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutAlternativAdresseringRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:AfslutAlternativAdressering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutAlternativAdresseringResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:DebitorForretningskvittering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutLigestillingspartnerRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:AfslutLigestillingspartner"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutLigestillingspartnerRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:AfslutLigestillingspartner"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutLigestillingspartnerResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:DebitorForretningskvittering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutMaterialemodtagerRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:AfslutMaterialeModtager"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutMaterialemodtagerRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:AfslutMaterialeModtager"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AfslutMaterialemodtagerResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:DebitorForretningskvittering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ForetagIndbetalingRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:ForetagIndbetaling"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ForetagIndbetalingRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:ForetagIndbetaling"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ForetagIndbetalingResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:DebitorForretningskvittering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetTilstandRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:RetTilstand"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetTilstandRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:RetTilstand"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="RetTilstandResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:DebitorForretningskvittering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HentDebitorkontoRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:HentDebitorkonto"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HentDebitorkontoRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:HentDebitorkonto"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HentDebitorkontoResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:KvitteringDebitorkontoValg"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SogDelfordringTilIndbetalingRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:SogDelfordringTilIndbetaling"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SogDelfordringTilIndbetalingRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:SogDelfordringTilIndbetaling"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SogDelfordringTilIndbetalingResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:KvitteringIndbetalingResultatValg"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SogDebitorRegistreringRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:SogDebitorRegistrering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SogDebitorRegistreringRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:SogDebitorRegistrering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SogDebitorRegistreringResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:KvitteringRegistreringResultatValg"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ForetagEjerskifteRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:Ejerskifte"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ForetagEjerskifteRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:Ejerskifte"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ForetagEjerskifteResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:DebitorForretningskvittering"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HentBSTilmeldningsstatusRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:HentBSTilmeldingsstatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HentBSTilmeldningsstatusRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:HentBSTilmeldingsstatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HentBSTilmeldningsstatusResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:KvitteringHentBSTilmeldingsstatus"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HentIndbetalingRequestType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:HentIndbetaling"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HentIndbetalingRequestAuthType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="autctx:AuthorityContext"/>
				<xs:element ref="callctx:CallContext" minOccurs="0"/>
				<xs:element ref="oir:HentIndbetaling"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="HentIndbetalingResponseType">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="oir:KvitteringIndbetalingValg"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
